<%- include('header.ejs') %>
<div class="container my-5">
    <h1 class="display-1 pb-3">What an API actually is?</h1>

    
        <div class="pb-2">
        <img class="col-md-12 img-fluid rounded shadow-sm" 
            src="https://media.geeksforgeeks.org/wp-content/uploads/20230216170349/What-is-an-API.png" alt="API mechanism">
        </div>

        <div >
            <p class="col-md-12 h4 mb-0 text-muted pb-2">
                An application programming interface (API) is a connection between computers or between computer programs.
                It is a type of software interface, offering a service to other pieces of software.
            </p>
        </div>
    </div>

        <!-- JOKE API CARD --> 
    <div class="card_container row justify-content-center my-5 align-items-stretch">
        <div class="card col-3 mx-2  ">
            <p class="text-title">Joke Generator</p>

            <div class="d-flex justify-content-around"  >
              <div class="language_container ">
                <label >Language: </label>
                  <select name="language" >
                      <option value="none">None</option>
                      <option value="en">English</option>
                      <option value="de">German</option>
                      <option value="fr">French</option>
                      <option value="sp">Spanish</option>
                      <option value="pt">Portugese</option>
                      <option value="cs">Czech</option>
                  </select>
              </div>

            <div class="category_container ">
              <label >Category: </label>
                <select name="category" >
                    <option value="any">Any</option>
                    <option value="Programming">Programming</option>
                    <option value="Dark">Dark</option>
                    <option value="Spooky">Spooky</option>
                    <option value="Christmas">Christmas</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
              </div>
            </div>

          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">Next</button>
        </div>



        <!-- From Uiverse.io by alexruix --> 
        <div class="card col-3 mx-2   ">
            <p class="text-title">Card title</p>
          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">More info</button>
        </div>

        <!-- From Uiverse.io by alexruix --> 
        <div class="card col-3 mx-2  ">
            <p class="text-title">Card title</p>
          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">More info</button>
        </div>
    </div>
        
  <%- include('footer.ejs') %>