<%- include('header.ejs') %>
<div class="container my-5">
    <h1 class="display-1 pb-3">What an API actuallu is?</h1>

    
        <div class="pb-2">
        <img class="col-md-12 img-fluid rounded shadow-sm" 
            src="https://media.geeksforgeeks.org/wp-content/uploads/20230216170349/What-is-an-API.png" alt="API mechanism">
        </div>

        <div >
            <p class="col-md-12 h4 mb-0 text-muted pb-2">
                An application programming interface (API) is a connection between computers or between computer programs.
                It is a type of software interface, offering a service to other pieces of software.
            </p>
        </div>
    </div>

        <!-- From Uiverse.io by alexruix --> 
    <div class="card_container row justify-content-center my-5 align-items-stretch">
        <div class="card col-3 mx-2  ">
            <p class="text-title">Card title</p>
          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">Next</button>
        </div>

        <!-- From Uiverse.io by alexruix --> 
        <div class="card col-3 mx-2   ">
            <p class="text-title">Card title</p>
          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">More info</button>
        </div>

        <!-- From Uiverse.io by alexruix --> 
        <div class="card col-3 mx-2  ">
            <p class="text-title">Card title</p>
          <div class="card-details">
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button class="card-button">More info</button>
        </div>
    </div>
        
  <%- include('footer.ejs') %>