<%- include('header.ejs') %>
<div class="container my-5">
    <h1 class="display-1">What an API actuall is?</h1>

    <div class="d-flex flex-column flex-md-row align-items-center gap-4">
        <div class="col-md-8">
        <img class="img-fluid rounded shadow-sm" 
            src="https://media.geeksforgeeks.org/wp-content/uploads/20230216170349/What-is-an-API.png" alt="API mechanism">
        </div>

        <div class="col-md-4">
            <p class="h4 mb-0 text-muted">An API (Application Programming Interface) lets apps talk to each other —
          like a messenger fetching data or triggering actions. It hides complexity,
          so developers can use features (like maps or payments) without rebuilding them. 
          APIs power today’s connected digital world.</p>
        </div>
    </div>
</div>
  <%- include('footer.ejs') %>